<p>
  details works!
</p>

<p>
  create system!
</p>
<form [formGroup]="systemForm" (submit)="onSubmit()">
  <div class="form-group"> 
    <label class="center-block">
      Name:
      <input class="form-control" formControlName="systemName"/>
    </label>
  </div>
  <div class="form-group"> 
    <label class="center-block">
      Brand:
      <input class="form-control" formControlName="brand"/>
    </label>
  </div>
  <h2>Groups: </h2>
  <div class="form-group radio" formArrayName="customerGroups"
    *ngFor="let group of systemForm.get('customerGroups').controls; let i = index;">
    <label class="center-block">
      <input class="form-control" type="checkbox" [value]="group" [formControl]="group" /> {{ this.groups[i].name }}
    </label> 
  </div>
  <h2>Offers:</h2>
  <span (click)="addOffer($event)">Add</span>
  <div class="form-group radio" formArrayName="customizationOffers"
    *ngFor="let offer of systemForm.get('customizationOffers').controls; let i = index;">
    <div [formGroupName]="i">
      <label class="center-block">
        <input formControlName="code" placeholder="Item code">
      </label> 
      <label class="center-block">
        <input formControlName="name" placeholder="Item name">
      </label> 
    </div>
  </div>
  <button type="submit">Update!</button>
</form>
<p>Form value: {{ systemForm.value | json }}</p>
<p>Form status: {{ systemForm.status | json }}</p>

